// css maps for D35
.box {
    width: 25px;
    height: 45px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
}

.box__library {
    width: 55px;
    height: 45px;
    background-color: rgb(160, 153, 153);
    color: black;
}

.box__color__D35 {
    border: 1px solid red;
}

.box__color__library {
    border: 1px solid #ccc;
    display: none;
}

.box11_D35 {
    transform: translate(238px, 557px);
}

.box12_D35 {
    transform: translate(238px, 510px);
}

.box13_library {
    transform: translate(395px, -323px);
}

.box14_library {
    transform: translate(395px, -423px);
}

.box15_library {
    transform: translate(450px, -413px);
}

.box16_library {
    transform: translate(450px, -513px);
}

.box_road10 {
    transform: translate(291px, 233px);
}
.box_road9 {
    transform: translate(291px, 279px);
}
.box_road8 {
    transform: translate(291px, 325px);
}
.box_road7 {
    transform: translate(291px, 372px);
}
.box_road6 {
    transform: translate(291px, 419px);
}
.box_road5 {
    transform: translate(291px, 465px);
}

.box_road4 {
    transform: translate(291px, 511px);
}

.box_road3 {
    transform: translate(291px, 557px);
}
.box_road2 {
    transform: translate(291px, 748px);
}
.box_road1 {
    transform: translate(291px, 794px);
}

.hidden {
    display: none;
}

.icon__car__ver {
    transform: translate(4px, 0px);
    font-size: 18px;
}

.icon__car__hori {
    transform: translate(15px, 10px);
    font-size: 23px;
}

.icon__xmark {
    font-size: 30px;
    font-weight: bold;
    transform: translate(18px, -7px);
}

.change__background__color {
    background-color: pink;
}

// sidebar show image

.box__image {
    width: 100px;
    height: 100px;
}

.box__info {
    width: 200px;
    height: 100px;
}

.image {
    transition: 0.2s ease-in;
}

.image:hover {
    transform: scale(3);
}

// css for maps C9

.box_C9 {
    width: 32px;
    height: 42px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    border: 1px solid red;
}

.number__id {
    color: red;
}

.box_1 {
    transform: translate(73px, 306px);
}
.box_2 {
    transform: translate(108px, 306px);
}
.box_3 {
    transform: translate(185px, 306px);
}
.box_4 {
    transform: translate(219px, 306px);
}
.box_5 {
    transform: translate(302px, 306px);
}
.box_6 {
    transform: translate(336px, 306px);
}
.box_7 {
    transform: translate(370px, 306px);
}
.box_8 {
    transform: translate(404px, 306px);
}
.box_9 {
    transform: translate(437px, 306px);
}
.box_10 {
    transform: translate(471px, 306px);
}
.box_11 {
    transform: translate(585px, 306px);
}
.box_12 {
    transform: translate(617px, 306px);
}

.box_13 {
    transform: translate(302px, 392px);
}
.box_14 {
    transform: translate(334px, 392px);
}
.box_15 {
    transform: translate(367px, 392px);
}
.box_16 {
    transform: translate(401px, 392px);
}
.box_17 {
    transform: translate(435px, 392px);
}
.box_18 {
    transform: translate(469px, 392px);
}
.box_19 {
    transform: translate(282px, 433px);
}
.box_20 {
    transform: translate(316px, 433px);
}
.box_21 {
    transform: translate(350px, 433px);
}
.box_22 {
    transform: translate(383px, 433px);
}
.box_23 {
    transform: translate(416px, 433px);
}
.box_24 {
    transform: translate(449px, 433px);
}
.box_25 {
    transform: translate(483px, 433px);
}
.box_26 {
    transform: translate(212px, 518px);
}
.box_27 {
    transform: translate(246px, 518px);
}
.box_28 {
    transform: translate(314px, 518px);
}
.box_29 {
    transform: translate(348px, 518px);
}

.icon__car__ver__C9 {
    transform: translate(7px, -7px);
    font-size: 17px;
}