.table-billing-history {
  font-size: 0.85rem;
}

.bg-gradient-primary-to-secondary {
  background-color: $primary;
  background-image: linear-gradient(135deg, #4e73df 0%, rgba(102,16,242,.8) 100%);
}