.list-user {
  width: 100%;
  margin-bottom: $spacer;
  color: #d5dbff;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  border-collapse: separate;
  border-spacing: 0 10px;

  th,
  td {
    padding: 0 $table-cell-padding;
    vertical-align: center;
  }

  td::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background-color: rgb(139, 216, 255);
    z-index: -1;
    transition: transform 0.3s ease;
  }

  td:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  td {
    background-image: linear-gradient(180deg, #5b83bc, 20%, #050a11 100%);
    padding: $table-cell-padding;
    font-weight: 500;
    border-radius: 20px;
    text-align: center;
    position: relative;

    &.avatar {
      display: flex;
      align-items: center;

      .avatar-img {
        border-radius: 50% !important;
        margin-right: 0.7rem;
        width: 50px;
        height: auto;
      }
    }
  }
  thead th {
    vertical-align: bottom;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $primary;
    font-size: 0.7rem;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }
}
